/* LAYOUT */

.app {
    display: flex;
    height: 100vh;
    flex-direction: row;
    -webkit-user-select: none;
}

.aside {
    width: calc(var(--aside-button-size) + (var(--padding) / 1.5 * 2));
    padding: var(--padding) calc(var(--padding) / 1.5);
    background: #333;
}

.aside button {
    width: var(--aside-button-size);
    height: var(--aside-button-size);
    background: #444;
    border-radius: 20%;
}

.aside button + button {
    margin-top: var(--half-padding);
}

.main {
    padding: var(--half-padding)
             var(--padding)
             calc(var(--padding) * 1.5);
    flex: 1;
    background: #444;
    overflow: hidden;
}

.page {
    display: flex;
    height: 100%;
    flex-direction: column;
}


/* OTHER */

.transcription {
    display: inline-block;
    color: #777;
    font-weight: 400;
    background: transparent;
    cursor: default;
}

.position {
    color: #70ab59;
}


/* FIND */

.find {
    position: relative;
    flex: 1;
}

.find-hints {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    padding-top: 6px;
    padding-bottom: var(--half-padding);
    line-height: 1;
    background: #555;
    border-bottom: 2px solid #333;
}

.find-hint-item {
    padding: var(--half-padding) calc(var(--half-padding) + 6px);
    cursor: default;
}


/* DICT PAGE */

.dict-page {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.dict-dict {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dict-history {
    width: 220px;
    margin: var(--half-padding) 0 0 var(--half-padding);
    padding-left: var(--padding);
    font-size: .9em;
    border-left: 1px solid #555;
    overflow-x: hidden;
    overflow-y: scroll;
}

.dict-header {
    display: flex;
    align-items: flex-end;
}

.dict-header .find {
    margin-right: 10px;
}

.dict-header input {
    padding: var(--half-padding) 0;
    font-size: 1.6em;
    border-bottom: 1px solid #555;
}

.dict-sheet {
    flex: 1;
    margin-top: var(--padding);
    overflow-x: hidden;
    overflow-y: scroll;
}


/* CARD */

.card {
    -webkit-user-select: text;
}

.card + .card {
    padding-top: 10px;
    border-top: 1px solid #555;
}

.card-title {
    word-spacing: .2em;
}

.card-translations {
    padding-left: 1.8em;
    font-size: .8em;
    line-height: 1.4;
}

.card-translation-item {
    margin-bottom: .4em;
}

.card-translation-item--mean {
    color: #b37c60;
}

.card-translation-item--ex {
    padding-left: 0;
    list-style: none;
    color: #999;
}


/* TEASER CARD */

.teaser-card {
    margin-bottom: var(--half-padding);
    line-height: 1.4;
}

.teaser-card-title {
    pointer-events: none;
}

.teaser-card-translations {
    color: #999;
    font-size: .8em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none;
}


/* FAVORITE PAGE */

.favorite-page {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

.favorite-page-column {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc((100% / 3) - 10px);
    overflow: hidden;
    font-size: .9em;
    border: 1px solid #555;
    border-radius: 2px;
}

.favorite-page-column input {
    background: #555;
}

.favorite-sets-list,
.favorite-words-list {
    flex: 1;
    padding: var(--half-padding);
    overflow-x: hidden;
    overflow-y: scroll;
}


.favorite-set-item {
    padding: 4px 6px;
    cursor: default;
}

.favorite-set-item + .favorite-set-item {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.favorite-set-item[active=true] {
    color: var(--color);
}


.favorite-words .find-hints {
    top: auto;
    bottom: calc(100% + 1px);
    border-bottom: 0;
}


.favorite-dict-sheet {
    padding: var(--half-padding) calc(var(--half-padding) + 6px);
    overflow-x: hidden;
    overflow-y: scroll;
}
